@page
@model IndexModel
@{
    ViewData["Title"] = "LPAR Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LPAR </h1>
    <h3>License Plate Argmented Reality</h3>
    
    <br />
    <br />

    <p>
       <a href="https://apps.apple.com/us/app/lpar/id1379913969" title="LPAR App for iPhone"><img src="http://crom.mobi/icons/apple_store.svg" style="width: 55%; height: 50%"></a>
    </p>
</div>
